<%- include('./partials/start.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="details content">
    <h2><%= blog.title %></h2>

    <div class="content">
        <p><%= blog.body %></p>
    </div>

    <a href="/blogs/<%= blog._id %>/edit">edit</a>
    <a class="delete" id="delete" data-doc="<%= blog._id %>">
        <img src="/trash.svg" alt="delete">
    </a>
</div>

<script>
    const trash = document.getElementById('delete')

    trash.onclick = async (e) => {
        e.preventDefault()

        const endpoint = `/blogs/${trash.dataset.doc}`

        const res = await fetch(endpoint, {
            method: 'DELETE'
        })

        const result = await res.json()
        window.location.href = result.redirect
    }
</script>

<%- include('./partials/end.ejs') %>
