<div class="row">
    <div class="col-md-6">
        <h2>detail contact</h2>

        <% if (! contact) { %>
            <div class="alert alert-danger fw-bold" role="alert">
                data not found! <br>
                <a href="/contact" class="alert-link fw-normal">&laquo; return to contact list.</a>
            </div>
        <% } else { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= contact.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= contact.phone %></h6>
                    <p class="card-text"><%= contact.email %></p>
                    <a href="/contact/edit/<%= contact._id %>" class="btn badge btn-info">edit</a>
                    <form action="/contact?_method=DELETE" method="post" class="d-inline">
                        <input type="hidden" name="id" value="<%= contact._id %>">
                        <button type="submit" class="btn badge btn-danger" onclick="return confirm('are you sure?')">delete</button>
                    </form>
                    <a href="/contact" class="card-link ms-3">&laquo; back</a>
                </div>
            </div>
        <% } %>

    </div>
</div>
